<%- include('header.ejs') -%>

<div class="box" id="heading">
    <h1><%= weekday %> <%= date %></h1>
    <!-- <h2><%= listTitle %></h2> -->
    <div class="btn-group">
        <a href="/" title="Home Tasks" class="tabbed-btn btn">Home Tasks</a>
        <a href="/office" title="Office Tasks" class="tabbed-btn btn">Office Tasks</a>
    </div>
</div>

<div class="box">
    <% todoList.map(({label}) => { %>
        <div class="item">
            <input type="checkbox">
            <p><%= label %></p>
        </div>
    <% }) %>

    <form class="item" action="/" method="post">
        <input autofocus required type="text" name="task">
        <button type="submit" name="listType" value="<%= listType %>">+</button>
    </form>
</div>
<%- include('footer') -%>